voronota-resources linguist-generated=true
index.html linguist-generated=true
resources/* linguist-generated=true
tests/jobs_output/* linguist-generated=true
expansion_gl/web/*.data linguist-generated=true
expansion_gl/web/*.js linguist-generated=true
expansion_gl/src/dependencies/* linguist-vendored
expansion_js/src/dependencies/* linguist-vendored
